body{
    border: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./res/background-adare-restaurant.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#logo{
    width: 75%;
    height: 8vw;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo img{
    margin-top: 0;
    margin-bottom: 2vw;
}

#navbar{
    width: 75%;
    height: 4vw;
    background-color: #000000;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

#navbar a{
    text-decoration: none;
    color: #FFFFFF;
}

#meat{
    width: 75%;
    height: 30vw;
    background-color: green;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 50px;
}

a{
    color: #FFFFFF;
}

#empty{
    width: 75%;
    height: 30vw;
    background-color: yellow;
}

footer{
    width: 75%;
    height: 10vw;
    background-color: pink;
}